<div class="text-layout">
  <h1>Basics Pipes</h1>
  <p>Include Angular Pipes - Usually Common Modules.</p>
</div>
<div class="p-grid">
  <div class="p-col-4">
    <p-card [subheader]="lowerName" header="uppercase">{{ lowerName | uppercase }}</p-card>
  </div>
  <div class="p-col-4">
    <p-card [subheader]="upperName" header="lowercase">{{ upperName | lowercase }}</p-card>
  </div>
  <div class="p-col-4">
    <p-card [subheader]="fullName" header="titlecase">{{ fullName | titlecase }}</p-card>
  </div>
</div>
<div class="text-layout">
  <h1>Date Pipe</h1>
  <p>Pipe for display dates.</p>
</div>
<div class="p-grid">
  <div class="p-col-6">
    <p-card header="Pipe date transform">
      <ul>
        <li>today</li>
        <li>today | date</li>
        <li>today | date: 'short'</li>
        <li>today | date: 'long'</li>
        <li>today | date: 'MMMM'</li>
        <li>today | date: 'MMMM dd, yyyy'</li>
      </ul>
      <hr />
      <ul>
        <li>today | date: 'long':'GMT-6'</li>
        <li>today | date: 'long':'GMT-4'</li>
        <li>today | date: 'long':'':'en'</li>
        <li>today | date: 'long':'':'fr'</li>
      </ul>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card header="Result">
      <ul>
        <li>{{ today }}</li>
        <li>{{ today | date }}</li>
        <li>{{ today | date: 'short' }}</li>
        <li>{{ today | date: 'long' }}</li>
        <li>{{ today | date: 'MMMM' }}</li>
        <li>{{ today | date: 'MMMM dd, yyyy' }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ today | date: 'long':'GMT-6' }}</li>
        <li>{{ today | date: 'long':'GMT-4' }}</li>
        <li>{{ today | date: 'long':'':'en' }}</li>
        <li>{{ today | date: 'long':'':'fr' }}</li>
      </ul>
    </p-card>
  </div>
</div>
