<div class="text-layout">
  <h1>Not Commons Pipes</h1>
  <p>Pipes of not very common use.</p>
</div>
<div class="p-grid">
  <div class="p-col p-md-6 p-sm-9">
    <p-fieldset [toggleable]="true" legend="i19nSelect Pipe">
      <p>
        Greetings {{ client.prefix }} {{ client.name }}, it is a great honor to
        {{ client.prefix | i18nSelect: invitationMap }} you to our event.
      </p>
      <button pButton class="p-button-help" label="Change Client" (click)="onChangeName()"></button>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6 p-sm-9">
    <p-fieldset [toggleable]="true" legend="i19nPrural Pipe">
      Actualmente {{ clients.length | i18nPlural: clientsMap }}.
    </p-fieldset>
  </div>
</div>
